<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="udacity.louco.com.radio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/logo_rr"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_rr"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activity.RadioListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".component.PlayerService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".component.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver android:name=".ui.widget.RadioWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/radio_widget_info" />
        </receiver>

    </application>

</manifest>